<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>
<body>
    <h1>Add a Farm</h1>
    <form action="/farms" method="POST">
        <div>
        <label for="name">Farm Name : </label>
        <input type="text" name="name" placeholder="Farm name" id="name">
            
    </div>
    <br>
    <div>
        <label for="city">Product Price : </label>
        <input type="text" name="city" id="city" placeholder="city">
    
    </div>  
    <br>
    <div>
        <label for="email">Email : </label>
        <input type="text" name="email" id="email" placeholder="email">
    
    </div> 
    
    <br>
    <button type="submit">Add Farm</button>
    </form>
</body>
</html>